
ESN_v0.py
ESN_v1.py
ESN_v2.py
ESN_denemeler.ipynb
ESNRLS_Q_parallel.py
ESNRLS_Q_v2.py
.readthedocs.yaml
.DS_Store
__pycache__/EchoStateNetwork.cpython-39.pyc
__pycache__/EchoStateNetwork.cpython-310.pyc
__pycache__/EchoStateNetwork.cpython-310.pyc
backups/EchoStateNetwork_22.03.22.py
reservoir_tests.ipynb
backups/EchoStateNetwork_05.04.23.py
